.room {
  display: grid;
  grid-template-columns: 70% 1fr;
  margin-right: 20px;
  width: 100%;
  margin-top: 70px;
}
.arbol-container {
  width: 90%;
  border: 4px solid;
  margin: 0 auto;
  padding-top: 15px;
  height: max-content;
  border-radius: 20px;
  background-color: var(--bg-objects);
  padding-bottom: 5px;
  box-shadow: -4px -4px 8px #000;
}
.room-details{
  background-color: var(--bg-objects);
  color: white;
  width: 90%;
  padding: 12px;
  border-radius: 10px;
  border: 4px solid #212529;
  box-shadow: 4px -4px 8px #000;
  padding-left: 18px;
}
/* .room-details p {
} */
.room-details span {
  font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 25px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 5px;
    margin-top: -7px;
    border-bottom: 1px solid
}
.loading-room {
  margin-top: 120px;
    text-align: center;
}
.spiner-room {
  width: 9rem;
  height: 9rem;
}
@media screen and (max-width: 790px) {
  .room {
    grid-template-columns: 1fr;
    margin-top: 65px;
    grid-gap: 10px;
  }
  .room-details {
    margin: 0 auto;
    margin-bottom: 40px;
  }
}

