.signup-container {
  background: #3E5151;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DECBA4, #3E5151);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DECBA4, #3E5151); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  display: flex;
  height: 100vh;
  width: 100vw;
}
.signup-left{
  display: flex;
  justify-content: center;
  width: 50%;
}
.signup-right{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 50%;
}
.card-signup{
  background: #00000047;
  border-radius: 10px;
}