.signup-container {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f46b45, #eea849); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f46b45, #eea849); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  height: 100vh;
  width: 100%;
  margin-top: 77px;
  overflow: scroll;
}
.signup-container::-webkit-scrollbar {
  display: none;
}
.signup-left{
  height: max-content;
  justify-content: center;
  width: 50%;
}
.apps-button {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: -25px;
}
.android-button {
  width: 114px;
  margin-right: 15px;
}
.ios-button {
  width: 118px;
}
.logo-signup-p {
  width: 100%;
}
.signup-right{
  display: flex;
  height: max-content;
  justify-content: center;
  margin-top: 20px;
  width: 50%;
}
.card-signup{
  border: 4px solid;
  width: 300px;
  box-shadow: 0 0px 7px black;
  background: var(--bg-objects);
  border-radius: 5px;
  margin-bottom: 40px;
}

.pre-formS {
  margin-right: 4px;
  box-shadow: 0 0px 7px black;
  border: none;
}
.pre-form {
  background-color: #f18647;
  border: none;
  font-weight: 800;
  color: black;
  height: 100%;
}
.password-valid {
  color: #ff4b4b;
  font-size: 12px;
  margin-bottom: 0px;
  display: flex;
  align-items: center;
}
.button-signup {
  border-radius: 10px;
  border: 2px solid var(--bg-color);
  background: #f28247;
  display: block;
  height: 40px;
  box-shadow: 0 3px 7px black;
  width: 100%;
  font-weight: 700;
  transition: .4s;
}
.button-signup:hover {
  background-color: var(--bg-color);
  border: 2px solid var(--bg-color);
  color: white;
}

@media screen and (max-width: 1000px) {
  .apps-button {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 760px) {
  .signup-right {
    margin-top: 14px;
  }
  .signup-container{
    margin-top: 117px;
  }
}
@media screen and (max-width: 600px) {
  .signup-left {
    width: 45%;
  }
  .apps-button {
    display: block;
    text-align: center;
  }
  .android-button {
    margin: 0;
    margin-bottom: 4px;
  }
}
@media screen and (max-width: 430px) {
  .signup-container {
    display: block;
  }
  .signup-left {
    margin-top: -15px;
    margin-bottom: 11px;
    width: 100%;
  }
  .logo-signup-p {
    display: none;
  }
  .card-signup {
    width: 80%;
  }
  .apps-button {
    display: flex;
  }
  .android-button {
    margin-top: 10px;
    margin-right: 5px;
  }
  .ios-button {
    margin-top: 10px;
  }
  .signup-right{
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto ;
    width: 100%;
  }
  .signup-container {
    margin-top: 224px;
  }
}