.arbol-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}
.search-button {
  margin: 8px 0px;
}

.search-card {
  margin-top: -20px;
}

.card-list-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  border-radius: 8px;
  background: #80808045;
}

.sala-descrption-title {
  width: 100%;
  text-align: center;
  font-size: 25px;
}

.create-button {
  border-radius: 5px;
  margin: 8px 0;
}

.sala-descrption-title span {
  font-size: 25px;
}
.card-row {
  width: 100%;
  margin: 0;
}
.arbol-card img {
  width: 100%;
}
.card-text {
  font-size: 15px;
  font-weight: 800;
}
.rom-filter {
  margin: -20px 20px 5px 20px;
  /* background: #25242587; */
  padding: 12px 0;
  border-radius: 18px;
  margin-bottom: 10px;
}
.rom-filter p {
  font-weight: 800;
}
.rom-filter span {
  font-weight: 400;
}
.alert-space {
  margin-left: 25px;
  margin-top: -30px;
}
.myrooms-list {
  display: flex;
}
.myrooms-list img {
  height: 100%;
}
.myrooms-ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.myrooms-li {
  width: 30%;
  margin: 10px;
}

.myrooms-img img {
  height: 100%;
}
.myrooms-description {
  margin-left: 30px;
}
.myrooms-li p {
  font-size: 12px;
  font-weight: 800;
}
.myrooms-li span {
  font-weight: 400;
}
