.depositForm input {
    margin-top: 20px;
}
.next-depostit-modal, .link-mercadopago{
    background: #ff9f22;
    color: black;
    margin-top: 20px;
    display: block;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    font-weight: 700;
    text-align: center;
}
.next-depostit-modal:hover, .link-mercadopago:hover {
    background-color: var(--bg-color);
    color: #ff9f22;
}