.emailVerification {
    text-align: center;
}
.emailVerification h4 {
    margin-top: 30px
}
.emailVerification label:nth-of-type(1) {
    margin-top: 30px;
}
.emailVerification label {
    margin-bottom: 15px;
}
.emailVerification form {
    margin-top: 15px;
}
.emailVerification form div {
    display: flex;
    margin: 0 5%;
    margin-top: 5px;
}

.input-verificationemail {
    text-align: center;
}
.input-verificationemail input {
    width: 60%;
    text-align: center;
}

.emailVerification form button {
    font-weight: 700;
    border-radius: 10px;
    border: none;
    margin-left: 8px;
    background: #ff9f22;
    transition: .2s;
}
.emailVerification form button:hover {
    color: #ff9f22;
    background-color: var(--bg-color);
    box-shadow: 0 3px 7px black;
}   
.forgotModalInput {
    margin: 15px 0;
}