.home-container {
  background: #f46b45; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #f46b45, #eea849); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #f46b45, #eea849);
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.home-left {
  width: 50%;
  display: flex;
  justify-content: center;
}
.actives-rooms {
  border: 4px solid;
  height: 500px;
  background: var(--bg-objects);
  width: 400px;
  padding-top: 8px;
  margin-top: 30px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px -1px 8px #000;
  padding-bottom: 15px;
}
.no-salas-actives {
  color: #eea749;
  font-size: 17px;
  font-weight: 600;
  margin-top: 160px;
}
.spiner-actives {
  width: 5rem;
  height: 5rem;
  margin-top: 50px;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  margin-top: -3px;
}
.pagination-button {
  background: transparent;
  color: #eea749;
  border: none;
}
.pagination-button:disabled {
  color: #eea7492e;
}
.pagination p {
  display: block;
  background: var(--bg-color);
  padding: 0 8px;
  border-radius: 50px;
  color: #eea749;
}
.actives-rooms h3 {
  color: #eea748;
  font-weight: 700;
  margin-bottom: 15px;
}
.actives-li {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 10px;
}
.actives-links {
  box-shadow: 0 3px 7px #000;
  display: flex;
  align-items: center;
  background: #eea748;
  padding: 10px;
  border-radius: 10px;
  height: 66px;
  transition: .15s all ease-in;
  width: 100%;
}
.actives-links:hover {
  height: 73px;
  width: 102%;
}
.actives-links img {
  height: 50px;
}
.actives-description {
  width: 88%;
  margin: 0 auto;
  font-size: .8rem;
  padding-left: 7px;
}
.actives-description p {
  text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    font-weight: 700;
    white-space: nowrap;
}
.actives-description span {
  font-weight: 500;
}
.home-right {
  width: 50%;
}
.create-custom {
  width: 60%;
  margin: 0 auto;
  border: 4px solid var(--bg-objects);
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  box-shadow: 7px -3px 7px;
  padding-bottom: 23px;
  padding-top: 12px;
}
.create-custom h3 {
  margin-bottom: 18px;
  font-weight: 700;
  text-align: center;
}
.create-custom input {
  background-color: var(--bg-objects);
  border: none;
  color: #eea748;
  font-weight: 800;
  outline: none;
  height: 36px;
  border-radius: 5px;
  padding-left: 12px;
  box-shadow: 0 0px 7px black;
  width: 100%;
}
.create-custom input::-webkit-input-placeholder {
  color: #eea74852;
  font-weight: 500;
}
.new-room-valid {
  color: #251d1d;
  font-size: 15px;
  margin-bottom: 0px;
}
.new-room-valid svg {
  margin-bottom: 3px;
}
.create-custom input:focus {
  outline: none;
  background-color: var(--bg-objects);  
  color: #eea748;
}
.input-guide {
  width: 40px;
  justify-content: center;
  background: var(--bg-objects);
  border: none;
  height: 100%;
  color: #f36c45;
  font-weight: 700;
  margin-right: 5px;
  border-radius: 5px;
}
.create-custom button {
  background: var(--bg-objects);
  border: none;
  width: 100%;
  color: #f46d45;
  font-weight: 800;
  height: 36px;
  border-radius: 10px;
  box-shadow: 0px 4px 0px #944a35;
}

.navigation-container {
  display: none;
}

@media screen and (max-height: 550px) {
  .home-container{
    height: 100%;
  }
  .home-left {
    margin-bottom: 60px;
  }
}
@media screen and (max-width: 850px) {
  .home-left {
    width: 60%;
  }
  .home-right {
    width: 40%;
  }
  .create-custom {
    width: 80%;
  }
}
@media screen and (max-width: 740px) {
  .home-left {
    width: 55%;
  }
  .home-right {
    width: 45%;
  }
  .create-custom {
    width: 87%;
  }
  .actives-rooms {
    width: 325px;
  }
}

@media screen and (max-width: 718px) {
  .actives-description {
    width: 80%;
  }
}

@media screen and (max-width: 630px) {
  .actives-rooms {
      width: 296px;
  }
  .create-custom {
    width: 94%;
  }
}
@media screen and (max-width: 560px) {
  @media screen and (max-height: 550px) {
    .home-container{
      height: 100vh;
    }
    .home-left {
      margin-bottom: 0px;
    }
  }
  .home-left {
    position: absolute;
    width: 100%;
    padding-bottom: 60px;
    background: #f46b45; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f46b45, #eea849); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f46b45, #eea849);
}
  .home-left.home-left-560 {
    display: none;
    width: 100%;
  }
  .home-right {
    background: #f46b45; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f46b45, #eea849); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f46b45, #eea849);
    width: 100%;
    padding-bottom: 60px;
  }
  .home-right.home-right-560 {
    display: none;
  }
  .actives-rooms {
    width: 85%;
  }
  .create-custom {
    width: 75%;
  }
  .navigation-container {
    background: var(--bg-color);
    height: 50px;
    display: flex;
    position: fixed;
    bottom: -1px;
    width: 100%;
  }
  .navigation-button {
    width: 50%;
    border: none;
    background: var(--bg-objects);
    color: white;
  }
  .left-button {
    border-right: 1px solid var(--bg-color);
  }
  .navigation-button.navigation-left {
    color: #eea748;
    border-right: 1px solid var(--bg-color);
  }
  .navigation-button.navigation-right {
    color: #f46b45;
  }
}