.sections {
  display: flex;
  justify-content: center;
  width: 100vw;
}
.section-activeRooms {
  background: var(--bg-objects);
  height: 100vh;
  width: 30%;
  box-shadow: 3px 0px 11px #636161;
  color: var(--text);
  padding: 22px;
}
.actives-title {
  font-size: 1.5rem;
  margin-top: 30px;
  color: var(--text);
  font-weight: 500;
  margin-bottom: 10px;
}
.actives-links {
  display: flex;
}
.actives-links img {
  width: 15%;
  margin-left: 20px;
}
.actives-description p {
  font-size: 1rem;
}
.actives-description {
  width: 100%;
}
.actives-li {
  margin-bottom: 8px;
  transition: .4s;
}
.actives-li:hover {
  transform: scale(1.02);
}

.actives-dropdown-none {
   display: none;
 }
 .actives-dropdown {
  margin: 97px auto 0 auto;
  width: 90%;
  padding: 12px;
  background: #343a40;
    border-radius: 10px;
    padding-bottom: 5px;
 }

 .navigation{
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
 }
 .navigation-button{
   width: 50%;
    border: none;
    background: #ffc107;
    height: 35px;
 }
 .home-description-500{
   width: 100%;
 }

 .section-create {
  display: grid;
  grid-gap: 10px;
  margin: 0 20px;
  width: 100%;
  margin-top: 65px;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 8px;
 }

.create-default img {
  object-fit: contain;
    height: 100%;
    width: 100%;
}

.create-default-button{
  background: transparent;
    border: 0;
    width: 19%;
    transition: 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.create-default-button:hover {
  transform: scale(1.1);
}
.create-default h1 {
  text-align: center;
  margin-bottom: 12px;
  padding: 5px 15px;
    display: inline-block;
    background: #343a40;
    border-radius: 10px;
    border: 4px solid #212121
}
.default-par{
  display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.default-par-container{
  height: 19%;
}
.create-form-container{
  display: inline-block;
    background-color: #343a40;
    padding: 10px 15px;
    border-radius: 10px;
    border: 4px solid #212121;
  font-size: 20px;
}
.create-form-container form {
  width: 60%;
}
.default-button-figure {
  width: 85%;
  display: block;
    height: 86%;
    background: yellow;
    border-radius: 50%;
}
@media screen and (max-width: 1282px) {
  .create-default-button {
    width: 23%;
  }
}

@media screen and (max-width: 1024px) {
  .actives-description p {
    font-size: 0.7rem;
  }
  .section-activeRooms {
    width: 40%;
  }
}
@media screen and (max-width: 1110px) {
    .section-create h1 {
      font-size: 30px;
    }
    .create-default-button {
      width: 29%;
    }
}
@media screen and (max-width: 1015px) {
  .create-default-button {
    width: 31%;
  }
  .create-form-container form {
    width: 100%;
  }
}
@media screen and (max-width: 930px) {
  .create-default-button {
    width: 36%;
  }
}
@media screen and (max-width: 888px) {
  .section-create h1{
    font-size: 26px;
  }
}
@media screen and (max-width: 800px) {
  .create-default-button {
    width: 41%
  }
}
@media screen and (max-width: 715px) {
  .create-default-button {
    width: 46%
  }
  .section-create h1{
    font-size: 23px;
  }
}

@media screen and (max-width: 700px) {
  .create-default-button {
    width: 50%
  }
}

@media screen and (max-width: 600px) {
 .actives-links img {
  margin-left: 5px
 }
 .create-default-button {
  width: 38%
}
 .actives-title{
   margin-top: 0;
 }
 .section-create{
  position: absolute;
    margin-top: 90px;
    margin-left: 0px;
    width: 95%;
 }
}
@media screen and (max-width: 512px) {
  .create-default-button {
    width: 44%
  }
}
@media screen and (max-width: 470px) {
  .default-par-container{
    display: flex;
    justify-content: center;
  }
  .create-default-button {
    width: 50%;
    padding: 0 3px;
  }
  .section-create {
    grid-template-columns: 1fr;
  }
  .create-custom {
    text-align: center;
    margin-bottom: 50px;
  }
  .create-default h1{
    width: 100%;
  }
  .create-form-container {
    width: 82%;
  }
}
