nav {
  justify-content: space-between;
  width: 100%;
  height: 45px;
  padding: 6px 10px 5px 10px;
  display: flex;
  align-items: center;
  background: #343a40;
}
.principal-navbar {
  position: absolute;
  top: 0;
}
.section-searcher {
  height: 100%;
}
.section-logos{
  flex-shrink: 0;
}
.section-searcher form {
  display: flex;
  height: 100%;
}
.section-searcher form svg {
  height: 30px;
}
.section-searcher-hidden svg {
  height: 30px;
}
.section-searcher input {
  box-shadow: 0 0px 7px black;
  border: none;
  height: 100%;
  margin-right: 4px;
  border-radius: 15px;
  padding-left: 15px;
}
.dropdown-menu-navbar-filter {
  height: 0;
  position: absolute;
  padding: 10px;
  overflow: hidden;
}
.dropdown-menu-navbar-filter.isActive {
  transition: .5s;
  width: 375px;
  min-width: 180px;
  text-align: center;
  height: auto;
  background: var(--bg-objects);
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  visibility: visible;
  border-bottom: 3px solid;
    border-right: 3px solid;
    border-left: 3px solid;
    top: 44px;
}
.filter-sala{
  box-shadow: 0 6px 5px black;
  display: flex;
  height: 94px;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 7px;
    transition: all .2s;
}
.filter-sala:hover {
  height: 106%;
  width: 102%;
  /* transform: scale(1.02); */
}

.aviso-filtro {
  color: #eea048;
  font-variant: small-caps;
  font-size: 16px;
}

.aviso-filtro svg {
  margin-bottom: 3px;
}

.no-spaces {
  color: var(--text);
    font-size: 20px;
    font-weight: 600;
}

.filter-sala-wrap {
  display: flex;
  background: #eea748;;
  align-items: center;
  width: 100%;
  padding: 5px;
  padding-left: 5px;
  cursor: pointer;
}
.filter-sala img {
  height: 40px;
  margin: 0 6px;
}
.filter-sala-description {
  width: 80%;
}
.filter-sala p {
  color: black;
  overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    white-space: nowrap;
    flex-wrap: wrap;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
}
.filter-sala span {
  font-weight: 400;
}
.filter-sala button {
  width: 100%;
  flex-shrink: 0;
  color: white;
  background: var(--bg-color);
  border: none;
}
.section-navIcons{
  display: flex;
  height: 100%;
}
.button-nav-1 {
  margin-right: 4px;
  position: relative;
}
.invitations-li  button  {
  border: none;
  background: #eea748;
  border-radius: 11px;
  box-shadow: -2px 2px 8px #000000;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  transition: all .2S;
}
.invitations-li button:hover {
  width: 103%;
  height: 105%;
}
.btn {
  box-shadow: 0 3px 7px black;
}
.icon-navbar {
  box-shadow: 0 -3px 7px black;
  border: none;
    height: 100%;
    border-radius: 50%;
    background: #f9c118;
    padding: 0 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    transition: .2s;
}
.icon-navbar:hover {
  background: var(--bg-color);
  color: #f9c118;
}
.notification {
  position: absolute;
    margin-top: -10px;
    margin-left: 16px;
    background: red;
    border-radius: 50px;
    width: 15px;
    color: white;
    font-size: 10px;
}
.button-more-notifications {
  background: var(--bg-color);
    border: none;
    width: 100%;
    border-radius: 10px;
    color: white;
    font-size: 12px;
    margin-bottom: 3px;
}
.dropdown-menu-navbar1{
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-left: 3px solid;
  height: 0;
  top: -500px;
  padding: 2px 10px;
  right: 0;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: max-content;
  margin-top: -12px;
}
.dropdown-menu-navbar1.isActive{
  border-bottom: 3px solid;
  border-right: 3px solid;
  border-left: 3px solid;
  position: absolute;
  top: auto;
  transition: .4s;
  visibility: visible;
  height: max-content;
  max-height: 348px;
  width: max-content;
  right: 0;
  overflow-y: scroll;
  padding: 2px 10px;
  background: var(--bg-objects);
  border-radius: 10px;
  margin-top: 3px;
}
.dropdown-menu-navbar1.isActive::-webkit-scrollbar {
  width: 5px;     /* Tamaño del scroll en vertical */
}
.dropdown-menu-navbar1.isActive::-webkit-scrollbar-thumb{
  background:#65656557;
    border-radius: 4px;
}
.dropdown-menu-navbar1 img {
  height: 25px;
  margin-right: 5px;
}
.invitations-li{
  visibility: hidden;
}
.invitations-li.isActive {
  visibility: visible;
  transition: .8s;
  margin-bottom: 5px;
}
.invitation-description{
  max-width: 200px;
}
.invitation-description p {
  overflow: hidden;
  text-align: initial;
  font-size: 10px;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: 700;
    white-space: nowrap;
}
.invitation-description span {
  font-weight: 400;
}
.dropdown-menu-navbar2{
  position: absolute;
  height: 100vh;
  top: 0;
  bottom: 0;
  width: 0;
  overflow: hidden;
}
.dropdown-menu-navbar2.isActive{
  border-left: 4px solid;
  transition: all .2s;
  position: relative;
  position: fixed;
  background: var(--bg-objects);
  height: 100vh;
  width: 30%;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: scroll;
}
.button-close-nav {
  height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 700;
  position: absolute;
  top: 0;
  right: 0;
  background: red;
  color: white;
  border-radius: 5px;
    background: #ff5656;
    width: 45px;
    cursor: pointer;
}
.dropdown-menu-navbar2.isActive::-webkit-scrollbar {
  display: none;
}
.logo1 {
  height: 40px;
}
.logo2{
  height: 25px;
  margin-left: -5px;
}
.section-searcher-hidden {
  display: none;
}
.item-menu-right-withdrawToUser svg {
  margin-bottom: 3px;
}
.item-menu-right-withdrawToUser {
  background: #4a76ad;
  color: white;
  height: 40px;
  justify-content: center;
  padding: 6px 5px 5px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.item-menu-right {
  color: var(--text);
  height: 50px;
  padding: 6px 5px 5px 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all .4s;
}
.navbar-buttons-left {
  display: flex;
  height: 100%;
}
.item-menu-right.user {
  height: 80px;
  background-color: #212529;
  color: white;
  cursor: auto;
  padding-left: 0;
}
.item-menu-right-wallet-container {
  justify-content: space-between;
  height: 40px;
  padding: 0px 5px 5px 7px;
  background: #212529;
  color: white;
  margin-top: -17px;
  display: flex;
  align-items: center;
}
.item-menu-right-wallet-container svg {
  margin-bottom: 2px;
}
.item-menu-right-wallet-container p {
  font-weight: 700;
  font-size: 25px;
  color: #35a947;
}
.item-menu-right:hover {
  background-color: #212529;
  color: white;
}
.item-menu-right-cashier{
  height: 40px;
  display: flex;
  align-items: center;
}
.button-deposit {
  cursor: pointer;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #35a947;
  height: 100%;
  color: white;
}
.button-withdraw {
  cursor: pointer;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  background: #ff5656;
}
.balance-refresh-container {
 position: absolute;
 right: 10px;
}
.refresh-balance {
  cursor: pointer;
 color: white;
 transition: .2s;
}
.refresh-balance:hover {
  color: #eea048;
}
.refresh-balance:active {
  transform: scale(1.2);
  color: #eea048;
  transform: rotate(360deg);
}
.refresh-balance-loading {
  transform: scale(1.2);
  color: #eea048;
  transform: rotate(360deg) infinite;
}
  @media screen and (max-width: 1123px) {
  .dropdown-menu-navbar2.isActive{
    width: 40%;
  }
}
  @media screen and (max-width: 830px) {
  .dropdown-menu-navbar2.isActive{
    width: 50%;
  }
  }
  @media screen and (max-width: 700px) {
  .dropdown-menu-navbar-filter.isActive {
    left: 200px;
  }
}
  @media screen and (max-width: 680px) {
    .dropdown-menu-navbar2.isActive{
      width: 63%;
    }
  }
  @media screen and (max-width: 600px) {
    .dropdown-menu-navbar-filter.isActive {
      left: 125px;
  }
  }
  @media screen and (max-width: 550px) {

  .dropdown-menu-navbar-filter.isActive {
      left: 80px;
  }
  .dropdown-menu-navbar2.isActive{
      width: 90%;
  }
  .logo1 {
    height: 30px;
  }
  .logo2 {
    height: 20px;
    margin-left: -9px;
  }
}
@media screen and (max-width: 515px) {
  .section-searcher form {
    display: none;
  }
  .section-searcher-hidden {
    width: 100%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;
  }
  .searcher-hidden {
    width: 100%
  }
  .searcher-hidden form {
    position: relative;
    height: 100%;
    display: flex;
  }
  .searcher-hidden input {
    box-shadow: 0 0px 7px black;
    width: 100%;
    border-radius: 8px;
    border: none;
    margin: 0 6px;
    border-radius: 15px;
    padding-left: 15px;
  }
  .dropdown-menu-navbar-filter.isActive {
    left: 30px;
    top: 44px;
    right: 30px;
    display: block;
    justify-content: center;
  }
}
@media screen and (max-width: 420px) {
  .dropdown-menu-navbar-filter.isActive {
    width: 85%;
  }
}
@media screen and (max-width: 362px) {
  .dropdown-menu-navbar2.isActive{
    width: 100%;
  }
}
