nav {
  position: fixed;
    top: 0;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 6px 10px 5px 10px;
    display: flex;
    align-items: center;
    background: #343a40;
}
.section-searcher form {
  display: flex;
  height: 100%;
}
.section-searcher form svg {
  height: 30px;
}
.section-searcher input {
  border-radius: 3px;
  border: none;
  height: 100%;
  margin-right: 4px;
}
.dropdown-menu-navbar-filter {
  height: 0;
  position: absolute;
  padding: 10px;
  overflow: hidden;
  visibility: hidden;
}
.dropdown-menu-navbar-filter.isActive {
  transition: .5s;
  height: auto;
  background: var(--bg-objects);
  border-radius: 10px;
  padding: 10px;
  position: absolute;
  visibility: visible;
}
.filter-sala{
  visibility: hidden;
  display: block;
  height: 0;
  border-radius: 10px;
}
.filter-sala.isActive {
  transition: 1.2s;
  display: flex;
  height: auto;
  visibility: visible;
    flex-wrap: wrap;
    max-width: 230px;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
}
.filter-sala-wrap {
  display: flex;
  background: #ffc107;
  align-items: center;
  width: 100%;
  padding: 10px;
  padding-left: 5px;
}
.filter-sala img {
  height: 40px;
  margin-right: 5px;
}
.filter-sala p {
  display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 10px;
    font-weight: 600;
}
.filter-sala span {font-weight: 400;

}
.filter-sala button {
  width: 100%;
  flex-shrink: 0;
  color: white;
  background: var(--bg-color);
  border: none;
}
.section-navIcons{
  display: flex;
  height: 100%;
}
.button-nav-1 {
  margin-right: 4px;
  position: relative;
}
.invitations-li  button  {
  border: none;
  background: #ffc107;
  border-radius: 11px;
  box-shadow: -2px 2px 8px #000000;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
}
.icon-navbar {
  border: none;
    height: 100%;
    border-radius: 50%;
    background: #ffc107;
    padding: 0 5px;
    display: flex;
    align-items: center;
}
.dropdown-menu-navbar1{
  height: 0;
  padding: 10px;
  right: 0;
  position: absolute;
  visibility: hidden;
  overflow: hidden;
  width: max-content;
}
.dropdown-menu-navbar1.isActive{
  position: absolute;
  transition: .4s;
  visibility: visible;
  height: max-content;
  width: max-content;
  right: 0;
  padding: 10px;
  background: var(--bg-objects);
  border-radius: 10px;
}

.dropdown-menu-navbar1 img {
  height: 25px;
  margin-right: 5px;
}
.invitations-li{
  visibility: hidden;
}
.invitations-li.isActive {
  visibility: visible;
  transition: .8s;
  margin-bottom: 5px;
}
.invitation-description{
  max-width: 200px;
}
.invitation-description p {
  overflow: hidden;
  text-align: initial;
  font-size: 10px;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: 600;
    white-space: nowrap;
}
.invitation-description span {
  font-weight: 400;
}
.dropdown-menu-navbar2{
  position: absolute;
  right: -1000px;
  transition: all 1s;
  height: 100vh;
  top: 0;
  bottom: 0;
  overflow: hidden;
}
.dropdown-menu-navbar2.isActive{
  border-left: 4px solid;
  transition: all .2s;
  position: absolute;
  background: var(--bg-objects);
  height: 100vh;
  width: 30%;
  right: 0;
  top: 0;
  bottom: 0;
}