:root {
  --bg-color: #18191a;
  --bg-objects: #343a40;
  --bg-items-color: #4b4c4f;
  --text: #212529;;
}
body {
  /*   background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%); */
  background: var(--bg-color);
}

#app {
  height: 100vh;
}

.links:hover {
  text-decoration: none;
}

h1,
h5,
button,
h4,
p {
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Link {
  color: black;
}
.Link:hover {
  text-decoration: none;
  color: black;
}
.dNone {
  display: none;
}