body {
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
  height: 100vh;
}

#app {
  height: 100vh;
}

.links:hover {
  text-decoration: none;
}

h1,
h5,
h4,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Link {
  color: black;
}
.Link:hover {
  text-decoration: none;
}
