:root {
  --bg-color: #18191a;
  --bg-objects: #343a40;
  --bg-items-color: #4b4c4f;
  --text: #a0a0a0;
}
.form-control {
  box-shadow: 0 0px 7px black;
}
.swal2-popup {
  background-color: var(--bg-objects);
}
.swal2-title {
  color: white;
}
.swal2-content {
  color: white;
}
body {
  /*   background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%); */
  background: var(--bg-color);
}
button:focus {
  outline: none;
}
input:focus {
  outline: none;
}
#app {
  height: 100%;
}

.links:hover {
  text-decoration: none;
}

h1,
h5,
button,
h4,
p {
  margin: 0;
}
ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Link {
  color: black;
}
.Link:hover {
  text-decoration: none;
  color: black;
}
.dNone {
  display: none;
}